@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  height: 100%;
}

body {
  font-family: Roboto, sans-serif;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

/* header section */

.header {
  background-color: #1f2937;
  padding-bottom: 60px;
}

.title {
  font-size: 24px;
  color: #f9faf8;
}

.nav {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.links {
  display: flex;
  list-style: none;
}

.links a {
  font-size: 18px;
  color: #e5e7eb;
  margin: 8px;
  text-decoration: none;
}

/* hero section */

.hero {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 48px;
}

.hero-primary {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.hero-secondary {
  font-size: 18px;
  color: #e5e7eb;
}

.signup {
  max-width: 640px;
  margin-right: 36px;
}

.signup button {
  padding: 8px 36px;
  border-radius: 8px;
  background-color: #3882f6;
  color: #f9faf8;
  border-style: none;
}

.banner {
  max-width: 640px;
  min-width: 300px;
}

/* information section */

.information {
  padding-bottom: 6rem;
}

.info-header {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  text-align: center;
}

.info-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  text-align: center;
  margin: 0;
}

.card p {
  width: 80%;
  padding-top: 8px;
  margin: 0 auto;
}

.card img {
  border: 3px solid #3882f6;
  border-radius: 8px;
  max-width: 300px;
  margin: 0 auto;
}

/* quote section */

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  background-color: #e5e7eb;
  padding: 60px 60px;
}

.quote blockquote {
  max-width: 45%;
  margin: 0 auto;
}

.quote cite {
  font-size: 20px;
  font-weight: bold;
  margin-left: 300px;
}

/* cta section */
/* footer section */

footer {
  background-color: #1f2937;
}
